# Pandas

In [1]:
import numpy as np

In [2]:
import pandas as pd

# Series

In [3]:
labels = ['a' , 'b' , 'c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10 , 'b':20 , 'c':30}

In [4]:
pd.Series(data = my_data)                #Creating Series

0    10
1    20
2    30
dtype: int64

In [14]:
pd.Series(data = my_data , index = labels)        #defining index

a    10
b    20
c    30
dtype: int64

In [16]:
#OR
pd.Series(my_data , labels)

a    10
b    20
c    30
dtype: int64

In [18]:
pd.Series(arr)                             #We can also pass NumPy Array

0    10
1    20
2    30
dtype: int32

In [19]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [21]:
pd.Series(d)                  #By passing dictionary it automatically takes the key and its value

a    10
b    20
c    30
dtype: int64

In [22]:
pd.Series(data = labels)

0    a
1    b
2    c
dtype: object

In [23]:
pd.Series(data = [sum , print , len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [24]:
ser_1 = pd.Series([1,2,3,4] , ['USA','Germany','USSR','Japan'])

In [25]:
ser_1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [27]:
ser_2 = pd.Series([1,2,5,4] , ['USA','Germany','Italy','Japan'])

In [28]:
ser_2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [29]:
ser_1['USA']

1

In [31]:
ser_3 = pd.Series(data = labels)

In [32]:
ser_3

0    a
1    b
2    c
dtype: object

In [33]:
ser_3[2]

'c'

In [34]:
ser_1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [36]:
ser_2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [38]:
ser_1 + ser_2                           #If it didn't find the match it gives NaN

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64