# Data Input and Output

In [1]:
import pandas as pd

# CSV

In [2]:
pd.read_csv("example")

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [3]:
df = pd.read_csv("example")

In [4]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [5]:
df.to_csv("My_output", index=False)

In [6]:
pd.read_csv("My_output")

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

# Excel

In [7]:
pd.read_excel("Excel_Sample.xlsx", sheet_name="Sheet1")

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [8]:
df.to_excel("Excel_Sample2.xlsx", sheet_name="NewSheet")

# HTML

In [9]:
data = pd.read_html("https://www.fdic.gov/bank/individual/failed/banklist.html")

URLError: <urlopen error [Errno 11001] getaddrinfo failed>

In [10]:
type(data)

NameError: name 'data' is not defined

In [11]:
data[0].to_excel("data_to_excel.xlsx", sheet_name="NewSheet")

NameError: name 'data' is not defined

In [12]:
# "data" is in List Form, "data[0]" is in DataFrame Form

In [13]:
type(data[0])

NameError: name 'data' is not defined

# SQL

In [14]:
from sqlalchemy import create_engine

In [15]:
engine = create_engine("sqlite:///:memory:")

In [16]:
df.to_sql("my_table", engine)

In [17]:
sqldf = pd.read_sql("my_table", con=engine)

In [18]:
sqldf

   index   a   b   c   d
0      0   0   1   2   3
1      1   4   5   6   7
2      2   8   9  10  11
3      3  12  13  14  15