# Step 1: Getting the data ready

In [1]:
# Importing Standard Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# Three main things we have to do:
    1. Split the data into features and labels (usually 'X' and 'y')
    2. Converting non-numerical values to numerical values (also called featuring encoding)
    3. Filling (also called imputing) or disregarding missing values

In [2]:
# Import dataset
heart_disease = pd.read_csv("../data/heart-disease.csv")

# View dataset
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

# 1. Split the data into features and labels (usually 'X' and 'y')

In [3]:
X = heart_disease.drop("target", axis=1)
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [4]:
y = heart_disease["target"]
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

#### Training and Testing Data

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [7]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape               # Divided into set of 70% and 30%

((212, 13), (91, 13), (212,), (91,))

In [8]:
X.shape, y.shape                                                        # Whole 100% data

((303, 13), (303,))

# 2. Converting non-numerical values to numerical values 
    (also called featuring encoding)

### Make sure it's all numerical

In [9]:
# Import new data
car_sales = pd.read_csv("../data/car-sales-extended.csv")

In [10]:
car_sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [11]:
car_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
Make             1000 non-null object
Colour           1000 non-null object
Odometer (KM)    1000 non-null int64
Doors            1000 non-null int64
Price            1000 non-null int64
dtypes: int64(3), object(2)
memory usage: 39.1+ KB

In [12]:
len(car_sales)

1000

In [13]:
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

In [14]:
# Split into X and y
X = car_sales.drop("Price", axis=1)
y = car_sales["Price"]

# Split into training and testing data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [15]:
# Build a model
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model.fit(X_train, y_train)
model.score(X_test, y_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

ValueError: could not convert string to float: 'Honda'

> **This model could not convert string to float like 'Honda'**

> **How to avoid this?**

## Turn the categories into numbers

In [18]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

##### Doors can also be considered as a categorical data, because we can contert doors into 3 categories (like, 2 Doors, 3 Doors, 4 Doors)

In [19]:
categorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()                          # Encode categorical integer features as a one-hot numeric array.
transformer = ColumnTransformer([("one_hot",
                                   one_hot,
                                   categorical_features)],
                                 remainder="passthrough")

In [20]:
transformed_X = transformer.fit_transform(X)
transformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [21]:
transformed_X = pd.DataFrame(transformed_X)
transformed_X.head()

    0    1    2    3    4    5    6    7    8    9    10   11        12
0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0

In [22]:
X.head()

     Make Colour  Odometer (KM)  Doors
0   Honda  White          35431      4
1     BMW   Blue         192714      5
2   Honda  White          84714      4
3  Toyota  White         154365      4
4  Nissan   Blue         181577      3

### Another way to convert categorical data into numerical with pandas

In [23]:
dumies = pd.get_dummies(car_sales[["Make", "Colour", "Doors"]])
dumies.head()

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,0,1,0,0,0,0,0,0,1
1,5,1,0,0,0,0,1,0,0,0
2,4,0,1,0,0,0,0,0,0,1
3,4,0,0,0,1,0,0,0,0,1
4,3,0,0,1,0,0,1,0,0,0

### Let refit the model

In [24]:
X_train, X_test, y_train, y_test = train_test_split(transformed_X, 
                                                    y, 
                                                    test_size=0.2, 
                                                    random_state=42)

model.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [25]:
model.score(X_test, y_test)

0.31690868166801067

# 3. Filling (also called imputing) or disregarding missing values

**What if there are missing data**
    1. Fill them with some value (also known as imputation).
    2. Revome the samples with missing data altogether,

In [101]:
# Import car_sale_missing_data
car_sales_missing = pd.read_csv("../data/car-sales-extended-missing-data.csv")
car_sales_missing.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [102]:
car_sales_missing.isna().sum()          # This will tell how many missing data we have

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [103]:
# X and y
X = car_sales_missing.drop("Price", axis=1)
y = car_sales_missing["Price"]

In [104]:
# Let's try to convert out in a number (previous steps)
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                                   one_hot,
                                   categorical_features)],
                                   remainder="passthrough")

transformed_X = transformer.fit_transform(X)
transformed_X

ValueError: Input contains NaN

> **There is an error as some position contains 'NaN'**

## How to deal with that problem

### Option 1: Fill missing data with pandas

In [106]:
# Fill the "Make" column
car_sales_missing["Make"].fillna("missing", inplace=True)

# Fill the "Colour" column
car_sales_missing["Colour"].fillna("missing", inplace=True)

# Fill the "Odometer (KM)" column
car_sales_missing["Odometer (KM)"].fillna(car_sales_missing["Odometer (KM)"].mean(), inplace=True)

# Fill the "Doors" column
car_sales_missing["Doors"].fillna(4, inplace=True)

In [107]:
car_sales_missing.isna().sum()

Make              0
Colour            0
Odometer (KM)     0
Doors             0
Price            50
dtype: int64

In [108]:
# Remove rows with missing Price Values
car_sales_missing.dropna(inplace=True)

In [109]:
car_sales_missing.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

#### Try to do previous steps again

In [110]:
# X and y
X = car_sales_missing.drop("Price", axis=1)
y = car_sales_missing["Price"]

In [114]:
# Let's try to convert out in a number (previous steps)
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                                   one_hot,
                                   categorical_features)],
                                   remainder="passthrough")

transformed_car_sales = transformer.fit_transform(car_sales_missing)       # This will convert "missing" into numeric values
transformed_car_sales

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        3.54310e+04, 1.53230e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        1.92714e+05, 1.99430e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        8.47140e+04, 2.83430e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 0.00000e+00,
        6.66040e+04, 3.15700e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.15883e+05, 4.00100e+03],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.48360e+05, 1.27320e+04]])

In [115]:
transformed_car_sales = pd.DataFrame(transformed_car_sales)
transformed_car_sales.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,35431.0,15323.0
1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,192714.0,19943.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,84714.0,28343.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,154365.0,13434.0
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,181577.0,14043.0

In [117]:
transformed_X = transformed_car_sales.drop(15,axis=1)
transformed_X.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,35431.0
1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,192714.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,84714.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,154365.0
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,181577.0

In [118]:
y.head()

0    15323.0
1    19943.0
2    28343.0
3    13434.0
4    14043.0
Name: Price, dtype: float64

### Option 2: Fill missing values with sckit-learn

In [94]:
# Import data set
car_sales_missing = pd.read_csv("../data/car-sales-extended-missing-data.csv")
car_sales_missing.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [95]:
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [96]:
car_sales_missing.dropna(subset=["Price"], inplace=True)             # Delete rows with missing "Price" values
car_sales_missing.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [97]:
# Split into X and y
X = car_sales_missing.drop("Price", axis=1)
y = car_sales_missing["Price"]

# Training and Testing set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#### Fill value with scikit-learn

In [121]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

# Fill catergorical values with "missing" & numerical with mean
cat_imputer = SimpleImputer(strategy="constant", fill_value="missing")       # For every value keep the value "constant"
door_imputer = SimpleImputer(strategy="constant", fill_value=4) 
num_imputer = SimpleImputer(strategy="mean")                                 # For every value keep the value "mean"

# Define columns
cat_features = ["Make", "Colour"]
door_features = ["Doors"]
num_features = ["Odometer (KM)"]

# Create an imputer (something that fills missing data)
imputer = ColumnTransformer([("cat_imputert", cat_imputer, cat_features),
                             ("door_imputer", door_imputer, door_features),
                             ("num_imputer", num_imputer, num_features)
                            ])

# Transform the data
filled_X_train = imputer.fit_transform(X_train)
filled_X_test = imputer.fit_transform(X_test)

In [127]:
len(filled_X_train), len(filled_X_test)

(760, 190)

In [128]:
filled_X_train

array([['Honda', 'White', 4.0, 71934.0],
       ['Toyota', 'Red', 4.0, 162665.0],
       ['Honda', 'White', 4.0, 42844.0],
       ...,
       ['Toyota', 'White', 4.0, 196225.0],
       ['Honda', 'Blue', 4.0, 133117.0],
       ['Honda', 'missing', 4.0, 150582.0]], dtype=object)

#### Create Dataframe for filled_X_train and filled_X_test

In [135]:
car_sales_filled_X_train = pd.DataFrame(filled_X_train, columns=['Make', 'Colour', 'Odometer (KM)', 'Doors'])

car_sales_filled_X_test = pd.DataFrame(filled_X_test, columns=['Make', 'Colour', 'Odometer (KM)', 'Doors'])

In [132]:
car_sales_filled_X_test.head()

     Make Colour Odometer (KM)   Doors
0  Toyota   Blue             4   99761
1  Toyota  Black             4   17975
2   Honda   Blue             4  197664
3  Nissan  Green             4  235589
4   Honda  Black             4  231659

In [133]:
car_sales_filled_X_train.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
dtype: int64

In [134]:
car_sales_filled_X_test.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
dtype: int64

#### Convert categorical values into numerical values ( Previous Steps)

In [140]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

one_hot = OneHotEncoder()
categorical_features = ['Make', 'Colour', 'Doors']
transformer = ColumnTransformer([("one_hot",
                                   one_hot,
                                   cat_features)],
                                   remainder="passthrough")

In [141]:
# Fill train and test values separately
transformed_X_train = transformer.fit_transform(car_sales_filled_X_train)
transformed_X_test = transformer.fit_transform(car_sales_filled_X_test)

In [142]:
transformed_X_train

array([[0.0, 1.0, 0.0, ..., 0.0, 4.0, 71934.0],
       [0.0, 0.0, 0.0, ..., 0.0, 4.0, 162665.0],
       [0.0, 1.0, 0.0, ..., 0.0, 4.0, 42844.0],
       ...,
       [0.0, 0.0, 0.0, ..., 0.0, 4.0, 196225.0],
       [0.0, 1.0, 0.0, ..., 0.0, 4.0, 133117.0],
       [0.0, 1.0, 0.0, ..., 1.0, 4.0, 150582.0]], dtype=object)

In [143]:
# Now we got our data as numbers and filled (no missing values)
# Let's fit our model

#### Fit our model

In [152]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model.fit(transformed_X_train, y_train)
model.score(transformed_X_test, y_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.2139521792397128

In [156]:
# Check length of transformed data (filled and one-hot encoded)
# vs. length of original data
len(transformed_X_train)+len(transformed_X_test), len(car_sales)

(950, 1000)